#*#
*.bak
*.ipynb
*.perspectivev3
*.pyc
*.py~
*.swp
*~
.coverage
.DS_Store
.class
.project
.pydevproject
.pypirc
.settings
_build
build
.idea
.vscode
*.rst
.pypirc
coverage.xml
nosetests.xml
client.py
