alabaster==0.7.10
appnope==0.1.0
Babel==2.5.1
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
bleach==2.0.0
certifi==2017.7.27.1
chardet==3.0.4
configparser==3.5.0
decorator==4.0.11
docutils==0.14
entrypoints==0.2.3
enum34==1.1.6
functools32==3.2.3.post2
html5lib==0.999999999
idna==2.5
imagesize==0.7.1
ipykernel==4.6.1
ipython==5.0.0
ipython-genutils==0.2.0
ipywidgets==6.0.0
Jinja2==2.9.6
jsonschema==2.6.0
jupyter-client==5.1.0
jupyter-console==5.1.0
jupyter-core==4.3.0
MarkupSafe==1.0
mistune==0.7.4
nbconvert==5.2.1
nbformat==4.3.0
pandocfilters==1.4.1
pathlib2==2.3.0
pexpect==4.2.1
pickleshare==0.7.4
pkginfo==1.4.1
powerline-status==2.6
prompt-toolkit==1.0.14
ptyprocess==0.5.2
Pygments==2.2.0
python-dateutil==2.6.1
pytz==2017.2
pyzmq==16.0.2
qtconsole==4.3.0
requests==2.20.0
requests-toolbelt==0.8.0
scandir==1.5
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.6.5
sphinxcontrib-websupport==1.0.1
telepot==12.2
terminado==0.6
testpath==0.3.1
tornado==4.5.1
tqdm==4.15.0
traitlets==4.3.2
twine==1.9.1
typing==3.6.2
urllib3>=1.23
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==2.0.0
